<%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), wrapper: :prefix_input do |f| %>
    <%= f.error_notification %>
    <div class="row">
    <div class="small-5 columns left topbarlabel">Email</div>
    <div class="small-5 columns left topbarlabel">Password</div>
    </div>
    <div class="small-5 columns">
      <%= f.input :email, :autofocus => true, wrapper: :prefix_input_topbar_signin%>
      </div>
    <div class="small-5 columns">
      <%= f.input :password, wrapper: :prefix_input_topbar_signin,label: false %>
    </div>

    <div class="form-actions small-2 columns text-center">
      <%= f.button :submit, "LOG IN", class: 'expand radius loginbutton' %>
    </div>
    <div class="small-4">
      <%= f.input :remember_me, wrapper: :inline_checkbox_login, :as => :boolean if devise_mapping.rememberable? %>
    </div>
<% end %>