<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "HouseHound | A listing service for the 21st century." %></title>

    <%= favicon_link_tag '/favicon.ico?v=2' %>

    <link rel="apple-touch-icon" sizes="57x57" href="/touch-icon-114.png" />
    <!-- Retina iPhone -->
    <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-114.png" />
    <!-- Standard iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-144.png" />
    <!-- Retina iPad -->
    <link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-144.png" />

    <%= stylesheet_link_tag    "application" %>
    <%#= stylesheet_link_tag "application", media: "print"%>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' %>
    <%= javascript_include_tag "application" %>
    <%#= javascript_include_tag "jquery.fileupload-ui" %>

    <%= yield(:head) %>

    <%= csrf_meta_tags %>
  </head>

  <body>


<% if user_signed_in? %>
    <div class='sticky contain-to-grid'>
      <nav class='top-bar navbar-gradient' data-topbar>
          <ul class='title-area'>
            <li class='name' data-no-turbolink>
              <%= link_to '/' do %>
                <div class="sitetitle">
                  House<span style="color:#4bb33a;font-size: 15pt;">Hound</span>
                </div>
              <% end %>
            </li>

            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            <!--<li class="toggle-topbar menu-icon">-->
              <!--<a href="#">-->
                <!--<i class="fa fa-bars fa-2x">-->
                <!--</i>-->
              <!--</a>-->
            <!--</li>-->

          </ul>
        <section class="top-bar-section">
        <ul class="left">
          <li>
            <a id="last_listing_shortcut"  data-turbolinks-temporary></a>
          </li>

        </ul>
        </section>
          <section class="top-bar-section">
            <ul class='right'>

              <%= render partial: 'layouts/navbar/links' %>
            </ul>
          </section>
        </nav>
    </div>
<%else%>
  <div id="nsi_topbarJS">
      <div class='show-for-medium-up sticky contain-to-grid notsignedintopbar'>
        <nav class='top-bar navbar-gradient' data-topbar>
          <ul class='title-area'>
            <li class='nsi_name' data-no-turbolink>
              <%= link_to '/' do %>
                  <div class="nsi_sitetitle">
                    House<span style="color:#4bb33a">Hound</span>
                  </div>
              <% end %>
            </li>
          </ul>

          <section class="top-bar-section">
            <ul class='right'>
              <%= render partial: 'layouts/navbar/navbar_signin_form' %>
            </ul>
          </section>
        </nav>
      </div>
      <div class="row show-for-small" id="smallbanner">
        <div class='sticky contain-to-grid'>
          <nav class='top-bar navbar-gradient' data-topbar>
            <ul class='title-area'>
              <li class='name' data-no-turbolink>
                <%= link_to '/' do %>
                    <div class="sitetitle">
                      House<span style="font-size:15pt;color:#4bb33a">Hound</span>
                    </div>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    <div class="topsbar hide-for-small"></div>

  </div>
<%end%>


    <div class="row">
      <%= render 'layouts/flash' %>
    </div>



      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
